<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
    <a aria-label="Bootstrap" class="navbar-brand mr-0 mr-md-2" href="{{ site.baseurl }}/">
        {%- include icons/bootstrap.svg width="36" height="36" class="d-block" -%}
    </a>

    <div class="navbar-nav-scroll">
        <ul class="navbar-nav bd-navbar-nav flex-row">
            <li class="nav-item">
                <a class="nav-link {% if page.layout == " home" %}active{% endif %}" href="{{ site.baseurl }}/"
                onclick="ga('send', 'event', 'Navbar', 'Community links', 'Bootstrap');">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if page.layout == " docs" %}active{% endif %}" href="{{ site.baseurl }}/docs/{{
                site.docs_version }}/getting-started/introduction/" onclick="ga('send', 'event', 'Navbar', 'Community
                links', 'Docs');">Documentation</a>
            </li>
            <li class="nav-item">
                <a Examples class="nav-link {% if page.title == "" %}active{% endif %}" href="{{ site.baseurl }}/docs/{{
                site.docs_version }}/examples/" onclick="ga('send', 'event', 'Navbar', 'Community links',
                'Examples');">Examples</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ site.themes }}/"
                   onclick="ga('send', 'event', 'Navbar', 'Community links', 'Themes');" rel="noopener" target="_blank">Themes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ site.expo }}/"
                   onclick="ga('send', 'event', 'Navbar', 'Community links', 'Expo');" rel="noopener" target="_blank">Expo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ site.blog }}/"
                   onclick="ga('send', 'event', 'Navbar', 'Community links', 'Blog');" rel="noopener" target="_blank">Blog</a>
            </li>
        </ul>
    </div>

    <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
        <li class="nav-item dropdown">
            <a aria-expanded="false" aria-haspopup="true" class="nav-item nav-link dropdown-toggle mr-md-2" data-toggle="dropdown"
               href="#" id="bd-versions">
                v{{ site.docs_version }}
            </a>
            <div aria-labelledby="bd-versions" class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item active" href="{{ site.baseurl }}/docs/{{ site.docs_version }}/">Latest
                    (4.3.x)</a>
                <a class="dropdown-item" href="https://getbootstrap.com/docs/4.2/">v4.2.1</a>
                <a class="dropdown-item" href="https://getbootstrap.com/docs/4.0/">v4.0.0</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="https://v4-alpha.getbootstrap.com/">v4 Alpha 6</a>
                <a class="dropdown-item" href="https://getbootstrap.com/docs/3.4/">v3.4.0</a>
                <a class="dropdown-item" href="https://getbootstrap.com/docs/3.3/">v3.3.7</a>
                <a class="dropdown-item" href="https://getbootstrap.com/2.3.2/">v2.3.2</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ site.baseurl }}/docs/versions/">All versions</a>
            </div>
        </li>

        <li class="nav-item">
            <a aria-label="GitHub" class="nav-link p-2" href="{{ site.repo }}" rel="noopener" target="_blank">
                {%- include icons/github.svg class="navbar-nav-svg" -%}
            </a>
        </li>
        <li class="nav-item">
            <a aria-label="Twitter" class="nav-link p-2" href="https://twitter.com/{{ site.twitter }}" rel="noopener"
               target="_blank">
                {%- include icons/twitter.svg class="navbar-nav-svg" -%}
            </a>
        </li>
        <li class="nav-item">
            <a aria-label="Slack" class="nav-link p-2" href="{{ site.slack }}/" rel="noopener" target="_blank">
                {%- include icons/slack.svg class="navbar-nav-svg" -%}
            </a>
        </li>
        <li class="nav-item">
            <a aria-label="Open Collective" class="nav-link p-2" href="{{ site.opencollective }}/" rel="noopener"
               target="_blank">
                {%- include icons/opencollective.svg class="navbar-nav-svg" -%}
            </a>
        </li>
    </ul>

    <a class="btn btn-bd-download d-none d-lg-inline-block mb-3 mb-md-0 ml-md-3"
       href="{{ site.baseurl }}/docs/{{ site.docs_version }}/getting-started/download/">Download</a>
</header>
