<footer class="bd-footer text-muted">
    <div class="container-fluid p-3 p-md-5">
        <ul class="bd-footer-links">
            <li><a href="{{ site.repo }}">GitHub</a></li>
            <li><a href="https://twitter.com/{{ site.twitter }}">Twitter</a></li>
            <li><a href="{{ site.baseurl }}/docs/{{ site.docs_version }}/examples/">Examples</a></li>
            <li><a href="{{ site.baseurl }}/docs/{{ site.docs_version }}/about/overview/">About</a></li>
        </ul>
        <p>Designed and built with all the love in the world by the <a
                href="{{ site.baseurl }}/docs/{{ site.docs_version }}/about/team/">Bootstrap team</a> with the help of
            <a href="{{ site.repo }}/graphs/contributors">our contributors</a>.</p>
        <p>Currently v{{ site.current_version }}. Code licensed <a href="{{ site.repo }}/blob/master/LICENSE"
                                                                   rel="license noopener" target="_blank">MIT</a>, docs
            <a href="https://creativecommons.org/licenses/by/3.0/" rel="license noopener" target="_blank">CC BY 3.0</a>.
        </p>
    </div>
</footer>
