<!-- Bootstrap core CSS -->
{%- if jekyll.environment == "production" %}
<link crossorigin="anonymous" href="{{ site.baseurl }}/docs/{{ site.docs_version }}/dist/css/bootstrap.min.css"
      integrity="{{ site.cdn.css_hash }}" rel="stylesheet">
{% else %}
<link href="{{ site.baseurl }}/docs/{{ site.docs_version }}/dist/css/bootstrap.css" rel="stylesheet">
{% endif -%}

{%- if page.layout == "docs" or page.layout != "examples" -%}
<!-- Documentation extras -->
{% if page.layout == "docs" %}
<link href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css" rel="stylesheet">
{% endif %}
{% if page.layout != "examples" %}
<link href="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/css/docs.min.css" rel="stylesheet">
{% endif %}
{%- endif -%}
