---
layout: examples
title: Floating labels example
extra_css: "floating-labels.css"
include_js: false
---

<form class="form-signin">
    <div class="text-center mb-4">
        <img alt="" class="mb-4" height="72"
             src="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/brand/bootstrap-solid.svg" width="72">
        <h1 class="h3 mb-3 font-weight-normal">Floating labels</h1>
        <p>Build form controls with floating labels via the <code>:placeholder-shown</code> pseudo-element. <a
                href="https://caniuse.com/#feat=css-placeholder-shown">Works in latest Chrome, Safari, and Firefox.</a>
        </p>
    </div>

    <div class="form-label-group">
        <input autofocus class="form-control" id="inputEmail" placeholder="Email address" required type="email">
        <label for="inputEmail">Email address</label>
    </div>

    <div class="form-label-group">
        <input class="form-control" id="inputPassword" placeholder="Password" required type="password">
        <label for="inputPassword">Password</label>
    </div>

    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-{{ site.time | date: "%Y" }}</p>
</form>
