---
layout: default
---

<header class="d-flex flex-column flex-md-row align-items-md-center p-5 bg-light">
    <div class="pt-md-3 pb-md-4">
        <h1 class="bd-title mt-0">{{ page.title | smartify }}</h1>
        <p class="bd-lead">{{ page.description | smartify }}</p>
        {%- if page.title == "Examples" -%}
        <a class="btn btn-lg btn-bd-primary" href="{{ site.download.source }}"
           onclick="ga('send', 'event', 'Examples', 'Hero', 'Download');">Download source code</a>
        {%- endif -%}
    </div>
    {% include ads.html %}
</header>

<main class="bd-content p-5" id="content" role="main">
    {{ content }}
</main>
