<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>İNDİRİMANİA</title>

    <link crossorigin="anonymous" th:href="@{css/bootstrap.min.css}"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <link  th:href="@{css/im_main.css}" rel="stylesheet">
</head>
<body>


<header>
    <nav class="navbar navbar-dark bg-dark">
        <img alt="logo" class="header_img" th:src="@{images/background/Logo_Turkuaz.png}">

        <a class="navbar-brand" href="#">İndirim Dünyasına Hoş Geldiniz</a>
        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/frontpage">Ana Sayfa <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Kategoriler</a>
                </li>
                <li class="nav-item dropdown">
                    <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown"
                       href="#" id="navbarDropdown" role="button">
                        İndirimler
                    </a>
                    <div aria-labelledby="navbarDropdown" class="dropdown-menu">
                        <a class="dropdown-item" href="#">Sıcak İndirimler</a>
                        <a class="dropdown-item" href="#">Ilık İndirimler</a>
                        <!--     <div class="dropdown-divider"></div>-->
                        <a class="dropdown-item" href="#">Trend İndirimler</a>
                    </div>
                </li>
                <!--     <li class="nav-item">
                         <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                     </li>
                  -->
            </ul>
            <br>
            <form class="form-inline my-2 my-lg-0">
                <input aria-label="Search" class="form-control mr-sm-2" placeholder="Search" type="search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Site İçi Arama</button>
            </form>
        </div>
    </nav>
</header>

<div class="icerikler">

    <div class="main_bar">
        <div class="main_bar_hdg">
            <h2><span class="Heading1"> Ana Sayfa İndirimleri </span></h2>
        </div>

        <div class="frontpage_deals">

            <div class="card" th:each="topic : ${topics}">
                <img alt="thumb" class="deal_img" th:src="@{http://localhost/download/file.php?id=1}">
                <div class="container">
                    <h7><a  th:href="@{'/topicnu/'+${topic.topicId}}" th:text=${topic.topicTitle} >...</a></h7>
                    <p>$195 + Free Shipping</p>
                </div>
            </div>
            

        </div>


    </div>

    <div class="side_bar">

        <div class="POST_deals">
                <a class="btn btn-secondary btn-lg btn-block" href="/postdeal" role="button">İndirim Gir</a>
            <br>
        </div>

        <div class="hot_deals">
            <h4><span class="Heading4"> Sıcak İndirimler </span></h4>
            <br><br><br><br><br><br><br>
        </div>

        <div class="warm_deals">
            <h4><span class="Heading4"> Ilık İndirimler </span></h4>
            <br><br><br><br><br><br><br>
        </div>

        <div class="trend_deals">
            <h4><span class="Heading4"> Trend İndirimler </span></h4>
            <br><br><br><br><br><br><br>
        </div>

    </div>

</div>


<script crossorigin="anonymous"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        th:src="@{/js/jquery-3.3.1.slim.min.js}"></script>
<script crossorigin="anonymous" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        th:src="@{/js/popper.min.js}"></script>
<script crossorigin="anonymous" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        th:src="@{/js/bootstrap.min.js}"></script>

</body>

<footer class="container">
    <p class="float-right"><a href="#">Back to top</a></p>
    <p>&copy; 2019 indiriMania Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
</footer>

</html>