<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>All Employees</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet"
	href="a.css">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>
	<div class="container my-2">
		<div class="card">
			<div class="card-body">
				<div th:switch="${employees}" class="container my-5">
					<p class="my-5">
						<a href="/edit" class="btn btn-primary"> <i
							class="fas fa-user-plus ml-2"> Add Employee </i></a>
					</p>
					<div class="col-md-10">
						<h2 th:case="null">No record found !!</h2>
						<div th:case="*">
							<table class="table table-striped table-responsive-md">
								<thead>
									<tr>
										<th>First Name</th>
										<th>Last Name</th>
										<th>Email</th>
										<th>Edit</th>
										<th>Delete</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="employee : ${employees}">
										<td th:text="${employee.firstName}"></td>
										<td th:text="${employee.lastName}"></td>
										<td th:text="${employee.email}"></td>
										<td><a th:href="@{/edit/{id}(id=${employee.employeeId})}"
											class="btn btn-primary"> <i class="fas fa-user-edit ml-2"></i>
										</a></td>
										<td><a
											th:href="@{/delete/{id}(id=${employee.employeeId})}"
											class="btn btn-primary"> <i
												class="fas fa-user-times ml-2"></i>
										</a></td>

										<td>

											<li class="ems-prd  spr10 filter ayni-gun-kargo"
											data-id="6ZL09EA"><div class="ems-prd-inner">
													<div class="ems-prd-image" id="plhUrun_urunResim">
										
													</div>
													<div class="ems-prd-right">
														<div class="ems-prd-comment" id="plhUrun_urunYorum"></div>
														<div class="ems-prd-code" id="plhUrun_urunKodu">
																<a
																th:href="${employee.email}"
																th:title="${employee.email}" th:text="${employee.email}">..
																</a>
														</div>
														<div class="ems-prd-urn-code ems-hidden"
															id="plhUrun_UrnKod">45440</div>
														<div class="ems-prd-name" id="plhUrun_urunAdi">
															<a
																th:href="${employee.email}"
																th:title="${employee.email}">
																</a>
														</div>
														<div class="ems-prd-price">
															<span
																id="ctl00_u35_ascUrunList_rptDestUrun_ctl03_container_plhUrun_normalFiyat4"
																class="ems-prd-price-first ems-hidden"></span><span
																id="ctl00_u35_ascUrunList_rptDestUrun_ctl03_container_plhUrun_satisFiyat4"
																class="ems-prd-price-selling"><div
																	id="ctl00_u35_ascUrunList_rptDestUrun_ctl03_pnlIndirim"
																	class="urunListe_satisFiyat">
																	6.355<span class="d">,42</span><span class="pb1">
																		TL</span>
																</div></span>
														</div>
														<div class="listBottomBtn">
															<span
																id="ctl00_u35_ascUrunList_rptDestUrun_ctl03_container_plhUrun_chkKiyas4"
																class="ems-prd-compare"><span
																class="sStylerMainWrp  sStylerWrp_checkbox"><span
																	class="cStyler"></span><input
																	name="ctl00$u35_ascUrunList$rptDestUrun$ctl03$chkOZS_KOD"
																	type="checkbox"
																	id="ctl00_u35_ascUrunList_rptDestUrun_ctl03_chkOZS_KOD"
																	value="45440" class="sCheckbox"></span><span
																id="ctl00_u35_ascUrunList_rptDestUrun_ctl03_lbfOZS_KOD"
																style="display: none"><i>Karşılaştır</i></span></span>
															<div class="ems-prd-addBasket">
																<div
																	id="ctl00_u35_ascUrunList_rptDestUrun_ctl03_pnlSepeteAt">
																	<div id="ctl00_u35_ascUrunList_dtUrun_ctl03_pnlSepet"
																		class="urunListe_sepetGrup" style="">
																		<div class="urunListe_adet">
																			<input type="text"
																				id="ctl00_u35_ascUrunList_dtUrun_ctl03_txtURN_ADET"
																				size="2" value="1"
																				onchange="return checkKatMiktar(this, 1, 0, 1);"><span
																				id="ctl00_u35_ascUrunList_rptDestUrun_ctl03_lblURN_ADET">Adet</span>
																		</div>
																		<div class="urunListe_sepet">
																			<table border="0" cellpadding="0" cellspacing="0"
																				style="display: inline;">
																				<tbody>
																					<tr>
																						<th><a
																							href="javascript:sepeteEkleUrn('45440','ctl00_u35_ascUrunList_dtUrun_ctl','3');"
																							id="ctl00_u35_ascUrunList_rptDestUrun_ctl03_btnSepeteAtUrunListe"
																							class="btnDefault btnSepeteAt"
																							onclick="$('.active-cart-button').removeClass('active-cart-button');$(this).parents('li, .ems-grid-row').eq(0).addClass('active-cart-button');"><span
																								id="ctl00_u35_ascUrunList_dtUrun_ctl03_lbfbtnSepeteAt">
																									SEPETE EKLE </span></a></th>
																					</tr>
																				</tbody>
																			</table>
																		</div>
																	</div>
																</div>
																<div
																	id="ctl00_u35_ascUrunList_rptDestUrun_ctl03_pnlStokHaberciBtn">
																	<div
																		id="ctl00_u35_ascUrunList_dtUrun_ctl03_pnlStokHaberci"
																		class="urunListe_stokHaberci" style="display: none;">
																		<table border="0" cellpadding="0" cellspacing="0"
																			style="display: inline;">
																			<tbody>
																				<tr>
																					<th><a class="btnDefault btnStokHaberci"
																						href="javascript:stokHaberci(45440,'ctl00_u35_ascUrunList_dtUrun_ctl','3');"><span
																							id="ctl00_u35_ascUrunList_rptDestUrun_ctl03_lbfbtnStokHaberci"><span
																								class="type0">GELİNCE HABER VER</span><span
																								class="type11">MAĞAZALARDA</span></span></a></th>
																				</tr>
																			</tbody>
																		</table>
																	</div>
																</div>
															</div>
														</div>
														<span
															id="ctl00_u35_ascUrunList_rptDestUrun_ctl03_container_plhUrun_yeniUrunBilgi4"
															class="ems-prd-new"></span><span
															id="ctl00_u35_ascUrunList_rptDestUrun_ctl03_container_plhUrun_stokUyari4"
															class="ems-prd-stock"><div
																id="ctl00_u35_ascUrunList_rptDestUrun_ctl03_pnlUrunStokUyari"
																class="urunListe_urunStokUyari">
																<span
																	id="ctl00_u35_ascUrunList_rptDestUrun_ctl03_lbfURN_AYNIGUNKARGO"><i
																	class="hizliKargo">BUGÜN KARGODA</i></span>
															</div></span><span
															id="ctl00_u35_ascUrunList_rptDestUrun_ctl03_container_plhUrun_SonXUrun4"
															class="ems-prd-lastPrd"></span>
													</div>
													<div class="ems-fixer"></div>
												</div></li>


										</td>




									</tr>
								</tbody>
							</table>





						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</body>





</html>


