<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>İNDİRİMANİA</title>

    <link crossorigin="anonymous" th:href="@{css/bootstrap.min.css}"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <link th:href="@{css/im_main.css}" rel="stylesheet">


</head>
<body>


<header>
    <nav class="navbar navbar-dark bg-dark">
        <img alt="logo" class="header_img" th:src="@{images/background/Logo_Turkuaz.png}" >

        <a class="navbar-brand" href="#">İndirim Dünyasına Hoş Geldiniz</a>
        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/frontpage">Ana Sayfa <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Kategoriler</a>
                </li>
                <li class="nav-item dropdown">
                    <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown"
                       href="#" id="navbarDropdown" role="button">
                        İndirimler
                    </a>
                    <div aria-labelledby="navbarDropdown" class="dropdown-menu">
                        <a class="dropdown-item" href="#">Sıcak İndirimler</a>
                        <a class="dropdown-item" href="#">Ilık İndirimler</a>
                        <!--     <div class="dropdown-divider"></div>-->
                        <a class="dropdown-item" href="#">Trend İndirimler</a>
                    </div>
                </li>
                <!--     <li class="nav-item">
                         <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                     </li>
                  -->
            </ul>
            <br>
            <form class="form-inline my-2 my-lg-0">
                <input aria-label="Search" class="form-control mr-sm-2" placeholder="Search" type="search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Site İçi Arama</button>
            </form>
        </div>
    </nav>
</header>

<div class="icerikler">

            <div style="width:640px; font-family: arial,sans-serif; font-size: 14px;" align="left">
                <div class="post_warning"></div>
                <div class="post_warning_details">
                    <b>İndirim Giriş Kuralları</b><br>
                    <span>
                        Güzel bir indirim bulduğunuza indirimi girmeden önce aşağıda yer alan kuralları okumanızı tavsiye ederiz:
         <ol>
         <li>Önce <a href="/newsearch.php" target="_blank">sitre içi arama</a> yaparak bu indirimin daha önce girilmediğinden emin olunuz.</li>
         <li> <a href="https://www.google.com/shopping"
          target="_blank">Google Alışveriş</a> sitesinden bu indirimin gerçekten iyi bir indirim olduğunu kontrol ettiniz mi?</li>
         <li>İndirimin ve tasarrufun ne kadar olduğu bilgisini girdiğinizden emin olunuz</li>
         <li>İndirmi elde etmek için gerekli kupon vs. adımları detaylı olarak paylaşın</li>
         <li>Varsa indirimin geçerli olduğu zamanı yazmayı unutmayın.</li>

         <li>
         DİKKAT: Bir satıcı mısınız?(Tedarikçi,çalışan vs.) Öyle ise   <a
                 href="/corp/advertising.html">Reklam</a>  bölümümüze göz atın. Satıcı olarak indirim girmek yasaktır. Bu kuralı ihlal eden
             kullıcıların hesabı kilitlenir.
         </li>
         </ol>
         </span>
                </div>
            </div>


    <table cellpadding="0" cellspacing="0" border="0" class="fieldset">
        <tbody>
        <tr>
            <td class="smallfont" colspan="4">Başlık: </td>
        </tr>
        <tr>
            <td>
                <input type="text" class="bginput" name="subject" id="threadtitle" value="" maxlength="180" tabindex="1" >
            </td>
            <td>&nbsp;&nbsp;</td>
        </tr>
        <tr>
        <tr>
            <td class="smallfont" colspan="4">Açıklama:</td>
        </tr>
            <td>
                <textarea type="text" class="details" name="details" id="details" value="" tabindex="1" ></textarea>
            </td>
            <td>&nbsp;&nbsp;</td>
        </tr>

        <tr>
            <td class="smallfont" colspan="4">İndirim Linki:</td>
        </tr>
        <tr>
            <td>
                <input type="text" class="bginput" name="url" id="url" value="" maxlength="180" tabindex="1" >
            </td>
            <td>&nbsp;&nbsp;</td>
        </tr>

        <tr>
            <td class="smallfont" colspan="4">Fotoğraf Yükle:</td>
        </tr>
        <tr>
            <td>
                <input type="file" class="bginput" onchange="readURL(this);" name="foto" id="foto" value="" maxlength="180" tabindex="1" >
                <br>
                <img id="blah" src="@{images/background/image.png}" alt="your image" />
            </td>
            <td>&nbsp;&nbsp;</td>
        </tr>



        <tr>
            <td class="smallfont" colspan="4">Kategori Seçimi:</td>
        </tr>
        <tr>
            <td>
        <form>
            <fieldset>
                <p>

                    <select class="smallfont" id = "myList">
                        <option value = "1">Tekstil</option>
                        <option value = "2">Bilgisayar</option>
                        <option value = "3">Elektronik</option>
                        <option value = "4">Otomativ</option>
                        <option value = "4">Çocuk</option>
                        <option value = "4">Finans</option>
                        <option value = "4">Oyun</option>
                        <option value = "4">Televizyon</option>
                        <option value = "4">Fotoğraf Makinası</option>
                        <option value = "4">Tatil</option>

                    </select>
                </p>
            </fieldset>
        </form>
            </td>
        </tr>

        </tbody></table>

    <div class="POST_deals">
        <a class="btn btn-secondary btn-lg btn-block" href="#" role="button">İndirimi Yükle</a>
        <br>
    </div>



</div>



<script crossorigin="anonymous"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        th:src="@{/js/jquery-3.3.1.slim.min.js}"></script>
<script crossorigin="anonymous" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        th:src="@{/js/popper.min.js}"></script>
<script crossorigin="anonymous" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" src="@{js/im_main.js0"></script>

</body>

<footer class="container">
    <p class="float-right"><a href="#">Back to top</a></p>
    <p>&copy; 2019 indiriMania Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
</footer>

</html>