
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="author" content="Bootstrap-ecommerce by Vosidiy">

<title>İndirimin birinci adresi www.indirimania.com</title>

<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">

<!-- jQuery -->
<script th:src="@{js/jquery-2.0.0.min.js}" type="text/javascript"></script>

<!-- Bootstrap4 files-->
<script th:src="@{js/bootstrap.bundle.min.js}" type="text/javascript"></script>
<link th:href="@{css/bootstrap.css}" rel="stylesheet" type="text/css" />



<!-- Font awesome 5 -->
<link th:href="@{fonts/fontawesome/css/fontawesome-all.min.css}"
	type="text/css" rel="stylesheet">

<!-- plugin: owl carousel  -->
<link th:href="@{plugins/owlcarousel/assets/owl.carousel.min.css}"
	rel="stylesheet">
<link th:href="@{plugins/owlcarousel/assets/owl.theme.default.css}"
	rel="stylesheet">
<script th:src="@{plugins/owlcarousel/owl.carousel.min.js}"></script>

<!-- custom style -->
<link th:href="@{css/ui.css}" rel="stylesheet" type="text/css" />
<link th:href="@{css/responsive.css}" rel="stylesheet"
	media="only screen and (max-width: 1200px)" />
<link th:href="@{css/im-main.css}" rel="stylesheet" />
<link th:href="@{css/custom.css}" rel="stylesheet" type="text/css" />

<!-- custom javascript -->
<script th:src="@{js/script.js}" type="text/javascript"></script>

<script th:type="@{text/javascript}">
				/// some script

				// jquery ready start
				$(document).ready(function() {
					// jQuery code

				});
				// jquery end
			</script>

</head>
<body>
	<header class="section-header">
		<nav class="navbar navbar-expand-lg navbar-light">
			<div class="container">
				<a class="navbar-brand" th:href="@{'/alibabafrontpage'}"><img
					class="logo" th:src="@{images/logos/Logo_Yellow_600px.png}"
					alt="alibaba style e-commerce html template file"
					title="alibaba e-commerce html css theme"></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarTop" aria-controls="navbarTop"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarTop">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item dropdown"><a href="#"
							class="nav-link dropdown-toggle" data-toggle="dropdown">
								İndirimler </a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="#">Ana Sayfa
										İndirimleri</a></li>
								<li><a class="dropdown-item" href="#">Populer
										İndirimler </a></li>
								<li><a class="dropdown-item" href="#">Trend İndirimler
								</a></li>
							</ul></li>

						<li class="nav-item dropdown"><a href="#"
							class="nav-link dropdown-toggle" data-toggle="dropdown">
								Forumlar </a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="#">İndirimler</a></li>
								<li><a class="dropdown-item" href="#">Ürünler Hakkında</a></li>
								<li><a class="dropdown-item" href="#">Beleşe Gelenler </a></li>
							</ul></li>
					</ul>
					<!-- <ul class="navbar-nav">
									<li class="nav-item"><a href="#" class="nav-link"> Multi
											Request </a></li>
									<li class="nav-item"><a
										href="http://bootstrap-ecommerce.com/" class="nav-link">
											Download </a></li>

								</ul>
								<!-- navbar-nav.// -->
				</div>
				<!-- collapse.// -->
			</div>
		</nav>

		<section class="header-main shadow-sm">
			<div class="container">
				<div class="row-sm align-items-center">

					<!-- Kategoriler -->
					<div class="col-auto ">
						<div class="category-wrap dropdown py-1">
							<button type="button" class="btn btn-light  dropdown-toggle"
								data-toggle="dropdown">
								<i class="fa fa-bars"></i> Kategoriler
							</button>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="#">Elektronik / Ev Eşyaları </a>
								<a class="dropdown-item" href="#">Oto </a> <a
									class="dropdown-item" href="#">Giyim / Moda</a> <a
									class="dropdown-item" href="#">Tatil/Seyyehat</a> <a
									class="dropdown-item" href="#">Yapı Market / Bahçe </a> <a
									class="dropdown-item" href="#">Kozmetik / Güzellik / Sağlık
								</a>
							</div>
						</div>
					</div>
					<!-- Kategoriler End-->


					<!-- Search -->
					<div class="col-lg-11-24 col-sm-8 ">
						<form action="#" class="py-1">
							<div class="input-group w-100">
								<select class="custom-select" name="category_name">
									<option value="">Tüm Site</option>
									<option value="">İndirimler</option>
									<option value="">Forumlar</option>
								</select> <input type="text" class="form-control" style="width: 50%;"
									placeholder="Aranacak Sözcüğü Buraya Girin">
								<div class="input-group-append">
									<button class="btn btn-warning" type="submit">
										<i class="fa fa-search"></i> Ara
									</button>
								</div>
							</div>
						</form>
						<!-- search-wrap .end// -->
					</div>
					<!-- Search END-->


					<!-- col.// KULLANICI GIRIS -->
					<div class="col-auto ">
						<div class="widgets-wrap float-right row no-gutters py-1">
							<div class="col-auto">
								<div class="widget-header dropdown">
									<a href="#" data-toggle="dropdown" data-offset="20,10">
										<div class="icontext">
											<div class="icon-wrap">
												<i class="text-warning icon-sm fa fa-user"></i>
											</div>
											<div class="text-wrap text-dark">
												Yeni Kayıt / Giriş Yap <i class="fa fa-caret-down"></i>
											</div>
										</div>
									</a>
									<div class="dropdown-menu">
										<form class="px-4 py-3">
											<div class="form-group">
												<label>E-Posta Adresi/Kullanıcı Adı</label> <input
													type="email" class="form-control"
													placeholder="email@example.com">
											</div>
											<div class="form-group">
												<label>Şifre</label> <input type="password"
													class="form-control" placeholder="Şifre">
											</div>
											<button type="submit" class="btn btn-primary">Giriş</button>
										</form>
										<hr class="dropdown-divider">
										<a class="dropdown-item" href="#">Yeni Kullanıcı</a> <a
											class="dropdown-item" href="#">Şifremi Unuttum</a>
									</div>
									<!--  dropdown-menu .// -->
								</div>
								<!-- widget-header .// -->
							</div>
							<!--		<!-- col.// -->


							<!-- col.// -->
						</div>
						<!-- widgets-wrap.// row.// -->
					</div>
					<!-- col.// KULLANICI GIRIS END-->


					<!-- col.// DEAL GIRIS -->
					<div class="col-auto ">
						<div class="col-auto">
							<a th:href="@{'/alibabapostdeal'}" class="widget-header">
								<div class="icontext">
									<div class="btn btn-warning">
										<!-- class="text-wrap text-dark" -->
										<div>İndirim Girişi</div>
									</div>
								</div>
							</a>
						</div>
					</div>
					<!-- col.// DEAL GIRIS END -->

				</div>
				<!-- row.// -->
			</div>
			<!-- container.// -->


			<!-- FAVORI INDIRIMLERIIM BOLUMU TEDBIREN CIKARILMISTIR -->
			<!-- col.// 
										<div class="col-auto">
											<a href="#" class="widget-header">
												<div class="icontext">
													<div class="icon-wrap">
														<i class="text-warning icon-sm  fa fa-heart"></i>
													</div>
													<div class="text-wrap text-dark">
														<span class="small round badge badge-secondary">0</span>
														<div>Favori İndirimlerim</div>
													</div>
												</div>
											</a>
										</div>
						<!-- col.// -->
			<!-- FAVORI INDIRIMLERIIM BOLUMU TEDBIREN CIKARILMISTIR END-->


		</section>
		<!-- header-main .// -->
	</header>
	<!-- section-header.// -->

	<!-- ========================= SECTION ITEMS ========================= -->
	<section class="section-request bg padding-y-sm">
		<div class="container">
			<h4 class="title-section bg text">Ürün Detay Sayfası</h4>
			<h3>
				<b th:text="${topic.topicTitle}">..</b>
			</h3>
			<p th:text="${topic.PhpbbForum.forumName}"
				th:href="@{http://localhost/product/1}">...</p>
			<h3>
				<b>Yorumlar: </b>
			</h3>
			<div th:each="post : ${topic.PhpbbPosts}">
				<p th:text="${post.postText}"
					th:href="@{http://localhost/product/1}">...</p>
			</div>



		</div>


	</section>

	<!-- ========================= SECTION ITEMS END.========================= -->



	<!-- ========================= FOOTER ========================= -->
<footer class="section-footer bg-secondary">
		<div class="container">
			<section class="footer-top padding-top">
				<div class="row">
					<aside class="col-sm-3 col-md-3 white">
						<h5 class="title">Hakkımızda</h5>
						<ul class="list-unstyled">
							<li><a href="#">Genel</a></li>
							<li><a href="#">SSS</a></li>
							<li><a href="#">Reklamlandırma</a></li>
							<li><a href="#">Kariyer</a></li>
						</ul>
					</aside>
					<aside class="col-sm-3  col-md-3 white">
						<h5 class="title">RSS</h5>
						<ul class="list-unstyled">
							<li><a href="#"> Ana Sayfa İndirimleri </a></li>
							<li><a href="#"> Popüler İndirimler </a></li>
							<li><a href="#"> Trend İndirimler </a></li>
						</ul>
					</aside>
					<aside class="col-sm-3  col-md-3 white">
						<h5 class="title">Daha Fazla</h5>
						<ul class="list-unstyled">
							<li><a href="#"> İndirim Bildirimleri </a></li>
							<li><a href="#"> Kupon Paylaşımları </a></li>
							<li><a href="#"> İndirim Takvimi </a></li>
						</ul>
					</aside>
					<aside class="col-sm-3">
						<article class="white">
							<h5 class="title">Bizi Takip Edin</h5>
							<i class="fa fa-instagram"></i>
							<ul class="list-unstyled">
								<li>								
								<a class="btn btn-instagram" title="Instagram"
									target="_blank" href="https://www.instagram.com/indirimaniaa/">Instagram</a><i class="fa fa-instagram"></i>
								</li>

								<li><a class="btn btn-facebook" title="Facebook"
									target="_blank" href="https://www.facebook.com/%C4%B0ndirimania-105907270880881/"><i class="fab fa-facebook-f  fa-fw"></i>Facebook</a></li>

								<li><a class="btn btn-youtube" title="Youtube"
									target="_blank" href="https://www.youtube.com/channel/UC7Vnjot6QVzyfEtPdH2TTYA/"><i class="fab fa-youtube  fa-fw"></i>Youtube</a>
								</li>

								<li><a class="btn btn-twitter" title="Twitter" target="_blank" href="https://twitter.com/indirimania3"><i class="fab fa-twitter  fa-fw"></i>Twitter</a></li>
							</ul>
						</article>
					</aside>
				</div>
				<!-- row.// -->
				<br>
			</section>
			<section class="footer-bottom row border-top-white">
				<div class="col-sm-6">
					<p class="text-white-50">
						Made with <br> by HOV TASARIM
					</p>
				</div>
				<div class="col-sm-6">
					<p class="text-md-right text-white-50">
						Copyright &copy <br> <a href="http://bootstrap-ecommerce.com"
							class="text-white-50">İndirimin birinci adresi</a>
					</p>
				</div>
			</section>
			<!-- //footer-top -->
		</div>
		<!-- //container -->
	</footer>
	<!-- ========================= FOOTER END // ========================= -->


</body>
</html>