element.style {
}

.ems-prd {
    width: 25%;
}
.ems-inline>* {
    display: inline-block;
    vertical-align: top;
}
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
user agent stylesheet
ul {
    list-style-type: disc;
}
.page-list .col-2 .ems-prd-list {
    max-width: 980px;
    width: 100%;
    display: inline-block;
    text-align: left;
}
.page-list .col-2 {
    width: auto;
    margin-left: 237px;
    display: block;
    text-align: right;
}
.ems-inline-center>* {
    text-align: left;
}
.ems-inline-center {
    text-align: center;
}
body {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: none;
    font-smoothing: antialiased;
    font-family: "regular";
    font-size: 14px;
    color: #424242;
}
html, body {
    font-family: "dd";
    font-size: 12px;
    color: #000;
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
user agent stylesheet
html {
    color: -internal-root-color;
}
::selection {
    background: #c00;
    color: #FFF;
    text-shadow: 0 1px 3px #4a536c;
}