* {
    box-sizing: border-box;
}
body {
    font-family: "Open Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;

    background-image: url("images/background/so-white.png");
    background-repeat: repeat;
    /*display: block;*/
    display: flex;
    flex-direction: column;


}
.side_bar{

    float: right;
    width: 320px;
    margin-top: 13px;
    vertical-align: top;
    border-top: 2px solid #010101;
    border-bottom: 1px solid #ccc;
    padding-left: 50px;

}
.main_bar {

    margin: 13px auto;
    width: calc(100% - 350px);
    float: left;
    clear: both;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: top;
    border-top: 2px solid #010101;
    border-bottom: 1px solid #ccc;

}


.icerikler{

    justify-content: center;
    padding: 10px !important;
    /*margin-top: 10px;*/
    width: 98%;
    max-width: 1320px;
    margin: 20px auto 0;
    min-width: 1320px;
    background: #efefef;

    z-index: 50;


    border-style: groove;
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*width: 1201px;*/

}
span.Heading1{
    color: #333;
    font-size: 18px;
    margin-bottom: 0;
    font-family: "Open Sans Semibold", "Open Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: 600;

}
span.Heading4{
    color: #37629E;
    font-size: 14px;
    margin-bottom: 0;
    font-family: "Open Sans Semibold", "Open Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: 600;

}

main_bar_hdg{
    margin-bottom: 5px;
    margin-top: 20px;

}

.frontpage_deals{

    display: grid;
    grid-gap: 50px 200px;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    width: inherit;
    /*height: 300px;*/
    font-size: 0.8em;
    text-align: left;
    font-family: arial, sans-serif;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 180px;
    height: 300px;
    max-width:300px;
    padding: 10px;
    /*background: white;*/
    background-color: #fff;
    text-align: center;
    position: relative;
    /*display: inline;*/
}
.deal_img{

    border-radius: 5px 5px 0 0;/* Add rounded corners to the top left and the top right corner of the image */
    display:inline;
    border: 0;
    margin: 0px;
    width: 120px;
    height: 120px;
}
/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,3.2);
}
/* Add some padding inside the card container */
.container {
    padding: 2px 8px;
}

.hot_deals{
    margin-top: 10px;
    border-top: 2px solid #010101;
    border-bottom: 1px solid #ccc;
    height: 350px;
}
.warm_deals{
    margin-top: 10px;
    border-top: 2px solid #010101;
    border-bottom: 1px solid #ccc;
    height: 350px;
}
.trend_deals{
    margin-top: 10px;
    border-top: 2px solid #010101;
    border-bottom: 1px solid #ccc;
    height: 350px;

}