body {
    margin: 0;
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 13px;
    font-weight: 400;
    line-height: 1.3;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
	transition: 0.5s;
	/*width: 180px;
    /*height: 300px;*/
	/*max-width: 300px;*/
	/*padding: 10px;
    /*background: white;*/
	/*background-color: #fff;
    text-align: center;

    position: relative;
    horiz-align: center;
    /*display: inline;*/
}

.navbar-brand {
	margin-right: -24rem;
}

.logo {
	width: 42%;
	height: auto;
}

.form-control {
	padding-left: 0;
	padding-top: 0;
	padding-bottom: 0.4em;
	padding-right: 0.4em;
	cursor: pointer;
}

.html {
    font-size: 13px;
}

.card-product .img-wrap {
    border-radius: 0.2rem 0.2rem 0 0;
    overflow: hidden;
    position: relative;
    height: 140px;
    text-align: center;
}

.dropdown-menu{
	font-size: 13px;
}

.btn {
	font-size: 13px;
}
	
.form-control {
	vertical-align: middle;
    padding: 0.375rem 1.75rem 0.375rem 0.75rem;
	font-size: 13px;
}	
	
	
	