.im-card-body
{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0.25rem;
    box-sizing: border-box;
}
.im-main-side-txt{
	
	color: #666;
    word-break: break-word;
    float: left;
    width: 59%;
	font-family: arial,sans-serif;
    font-size: 12px;
    line-height: 1.4em;
    font-weight: 500;
}