* {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;

    background-image: url("../images/background/so-white.png");
    background-repeat: repeat;
    /*display: block;*/
    display: flex;
    flex-direction: column;


}

.header_img {
    width: 15%;
    height: 15%;

}

.side_bar {

    float: right;
    width: 320px;
    margin-top: 13px;
    vertical-align: top;
    border-top: 2px solid #010101;
    border-bottom: 1px solid #ccc;
    padding-left: 50px;

}

.main_bar {

    margin: 13px auto;
    width: calc(100% - 350px);
    float: left;
    clear: both;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: top;
    border-top: 2px solid #010101;
    border-bottom: 1px solid #ccc;

}


.icerikler {

    justify-content: center;
    padding: 10px !important;
    /*margin-top: 10px;*/
    width: 98%;
    max-width: 1320px;
    margin: 20px auto 0;
    min-width: 1320px;
    background: #efefef;

    z-index: 50;


    border-style: groove;
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*width: 1201px;*/

}

span.Heading1 {
    color: #333;
    font-size: 18px;
    margin-bottom: 0;
    font-family: "Open Sans Semibold", "Open Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: 600;

}

span.Heading4 {
    color: #37629E;
    font-size: 14px;
    margin-bottom: 0;
    font-family: "Open Sans Semibold", "Open Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: 600;

}

main_bar_hdg {
    margin-bottom: 5px;
    margin-top: 20px;

}

.frontpage_deals {

    display: grid;
    grid-gap: 50px 200px;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    width: inherit;
    /*height: 300px;*/
    font-size: 0.8em;
    text-align: left;
    font-family: arial, sans-serif;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 180px;
    height: 300px;
    max-width: 300px;
    padding: 10px;
    /*background: white;*/
    background-color: #fff;
    text-align: center;

    position: relative;
    horiz-align: center;
    /*display: inline;*/
}

.deal_img {

    border-radius: 5px 5px 0 0; /* Add rounded corners to the top left and the top right corner of the image */
    display: block;
    border: 0;
    width: 80%;
    height: 45%;
    margin-left: auto;
    margin-right: auto;

}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 3.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 8px;
}

.hot_deals {
    margin-top: 10px;
    border-top: 2px solid #010101;
    border-bottom: 1px solid #ccc;
    height: 350px;
}

.warm_deals {
    margin-top: 10px;
    border-top: 2px solid #010101;
    border-bottom: 1px solid #ccc;
    height: 350px;
}

.trend_deals {
    margin-top: 10px;
    border-top: 2px solid #010101;
    border-bottom: 1px solid #ccc;
    height: 350px;

}

.bginput{
    width : 800px;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: textarea;
    background-color: white;
    -webkit-rtl-ordering: logical;
    flex-direction: column;
    resize: auto;
    cursor: text;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    margin: 0em;
    font: 400 13.3333px Arial;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(169, 169, 169);
    border-image: initial;
    padding: 2px;
}
.details {
    height: 250px;
    width : 800px;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: textarea;
    background-color: white;
    -webkit-rtl-ordering: logical;
    flex-direction: column;
    resize: auto;
    cursor: text;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    margin: 0em;
    font: 400 13.3333px Arial;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(169, 169, 169);
    border-image: initial;
}
img{
    max-width:180px;
}
input[type=file]{
    padding:10px;
    background:#2d2d2d;}
.smallfont{
    width:640px; font-family: arial,sans-serif; font-size: 14px;" align="left";
}