---
layout: simple
title: Versions
description: An appendix of hosted documentation for nearly every release of Bootstrap, from v1 through v4.
---

<div class="row">
    {% for release in site.data.docs-versions %}
    <div class="col-md">
        <h2>{{ release.group }}</h2>
        <p>{{ release.description }}</p>
        {% assign versions = release.versions | reverse %}
        {% for version in versions %}
        {% if forloop.first %}
        <div class="list-group">{% endif %}
            {% if version.v == site.docs_version %}
            <a class="list-group-item list-group-item-action py-2 text-primary d-flex justify-content-between align-items-center"
               href="{{ release.baseurl }}/{{ version.v }}/">
                {{ version.v }}
                <span class="badge badge-primary">Latest</span>
            </a>
            {% else %}
            <a class="list-group-item list-group-item-action py-2 text-primary"
               href="{{ release.baseurl }}/{{ version.v }}/">
                {{ version.v }}
            </a>
            {% endif %}
            {% if forloop.last %}
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% endfor %}
</div>
