---
layout: examples
title: Signin Template
extra_css: "signin.css"
body_class: "text-center"
include_js: false
---

<form class="form-signin">
    <img alt="" class="mb-4" height="72"
         src="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/brand/bootstrap-solid.svg" width="72">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label class="sr-only" for="inputEmail">Email address</label>
    <input autofocus class="form-control" id="inputEmail" placeholder="Email address" required type="email">
    <label class="sr-only" for="inputPassword">Password</label>
    <input class="form-control" id="inputPassword" placeholder="Password" required type="password">
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017-{{ site.time | date: "%Y" }}</p>
</form>
